*.iml
.gradle
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/misc.xml
.DS_Store
captures
.externalNativeBuild
build
scidOnTheGo/build
chessEngineSupportLibrary/build
scidOnTheGo/src/main/jniLibs
scidOnTheGo/src/main/libs
scidOnTheGo/src/main/obj
scidOnTheGo/release
/screenshots/*