<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.scid.android"
    android:installLocation="auto"
    android:versionCode="8"
    android:versionName="1.07">
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".ScidApplication"
        android:debuggable="false">
        <activity
            android:name=".ScidAndroidActivity"
            android:label="@string/app_name"
            android:configChanges="orientation">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Preferences"
            android:label="Preferences">
        </activity>
        <activity
            android:name="EditBoard"
            android:label="Edit Board"
            android:configChanges="orientation">
        </activity>
        <activity
            android:name="SearchCurrentBoardActivity"
            android:label="Board Search"
            android:configChanges="orientation">
        </activity>
        <activity
            android:name="SearchHeaderActivity"
            android:label="Header Search"
            android:configChanges="orientation">
        </activity>
        <activity
            android:name="ImportPgnActivity"
            android:label="PGN Import"
            android:configChanges="orientation">
        </activity>
        <activity
            android:name="ImportTwicActivity"
            android:label="TWIC Import"
            android:configChanges="orientation">
        </activity>
        <activity
            android:name="GameListActivity"
            android:label="Game List"
            android:configChanges="orientation">
        </activity>

        <provider
            android:name="org.scid.database.ScidProvider"
            android:authorities="org.scid.database.scidprovider" />
    </application>
    <uses-sdk
        android:minSdkVersion="4" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.INTERNET"></uses-permission>
</manifest> 